.experience {
  padding: 20px;
  max-width: 800px; /* Set a max-width for the container */
  margin: 0 auto; /* Center the container */
  text-align: left; /* Align text to the left */
}

.experience h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center; /* Center the header */
}

.experience h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.experience p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.experience ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
}

.experience li {
  font-size: 1em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: flex-start;
}

.experience li::before {
  content: "•"; /* Add custom bullet */
  color: #61dafb; /* Change bullet color */
  font-size: 1.5em; /* Increase bullet size */
  line-height: 1; /* Adjust line height */
  margin-right: 10px; /* Space between bullet and text */
}
